<div class="container-fluid p-0">
    <div id="navbar" class="container-fluid w-100 rounded-bl-corner mb-2">
        <div class="container p-3 pb-4">
            <nav class="navbar navbar-expand-lg p-4 d-flex justify-content-between">
                <a class="navbar-brand" href="/"><img src="/images/desktop/logo.svg" alt=""></a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav gap-4">
                    <li class="nav-item d-flex gap-2 align-items-center">
                           <span><img src="/images/desktop/icon-sun.svg" alt=""></span>
                      <div onclick="darkLight()" class="form-check form-switch">
                            <input type="checkbox" class="form-check-input px-3 py-2" name="" id="checkbox">
                            <label class="form-check-label" for="checkbox"></label>
                      </div>
                      <span><img src="/images/desktop/icon-moon.svg" alt=""></span>
                    </li>
                         <li class="row d-flex gap-2 align-items-center">
                    <a class="btn btn-dark" href="/sign-up">Sign Up</a>
                    <a class="btn btn-violetlight" href="/login">Log in</a>
                </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="row position-absolute top-0 start-50 translate-middle w-100">
           <div class="col">
            <form class="d-flex" action="/search" method="post">
                <input class="form-control p-3 position-relative rounded-0 input-search" type="text" name="general" placeholder="Filter by title, companies, expretise...">
                <input class="form-control p-3 position-relative rounded-0 input-location" type="text" name="location" id="" placeholder="Filter by location..">
                <div class="form-control p-3 d-flex gap-4 align-items-center rounded-0">
                   <input class="custom-control-input p-2" name="jobtype" id="check" type="checkbox">
                   <label class="fw-bold" for="check">Full Time Only</label>
                   <button class="btn btn-violet text-white rounded-2 px-3 py-2" type="submit">Search</button>
                </div>
            </form>
           </div>            
           </div>
           
        </div>
        <div class="container mt-5 pt-5 pb-5 mb-5 d-flex flex-wrap wrap gap-5 justify-content-center">
            {{#each jobsData}}
            <a class="text-decoration-none" style="max-width:100%;width:300px;min-width:30%" href="jobs/{{_id}}">
             <div class="card p-4 position-relative box rounded-3">
                <div class="p-3 mx-4 rounded-4 position-absolute top-0 start-25 translate-middle " style="background-color:{{logoBackground}};width:15%">
                <img class="w-100" src="{{logo}}" alt="">
                </div>
                <div class="card-body ">
                    <div class="d-flex gap-3">
                        <p class="text-muted opacity-75">{{postedAt}}</p>
                        <p class="text-muted opacity-75">{{contract}}</p>
                    </div>
                    <h4 class="fw-bold fs-5">{{position}}</h4>
                    <p class="text-muted opacity-75">{{company}}</p>
                    <p class="location">{{location}}</p>
                </div>
             </div>
             </a>
            {{/each}}
            <div>
                <button class="rounded-2 border-0 btn-violet px-4 py-3">Load More</button>
            </div>
        </div>
    </div>
</div>