<div class="container-fluid p-0">
        <div id="navbar" class="container-fluid w-100 rounded-bl-corner mb-2">
        <div class="container p-3 pb-4">
            <nav class="navbar navbar-expand-lg p-4 d-flex justify-content-between">
                <a class="navbar-brand" href="/"><img src="/images/desktop/logo.svg" alt=""></a>
                <ul class="navbar-nav">
                    <li class="nav-item d-flex gap-2">
                           <span><img src="/images/desktop/icon-sun.svg" alt=""></span>
                      <div onclick="darkLight()" class="form-check form-switch">
                            <input type="checkbox" class="form-check-input px-3 py-2" name="" id="checkbox">
                            <label class="form-check-label" for="checkbox"></label>
                      </div>
                      <span><img src="/images/desktop/icon-moon.svg" alt=""></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-6 col-10">
    <div class="container position-relative bg-white px-5 mb-5 mt-4">
         <div class=" d-flex position-absolute top-100 start-50 translate-middle w-100 bg-white rounded-3 box company-info">
            <div class="d-flex justify-content-center align-items-center rounded-start job-icon" style="background-color:{{jobData.logoBackground}};padding:2rem;">
                <img style="width:50px;height:50px;" src="/{{jobData.logo}}" alt="">
            </div>
           <div class="d-flex gap-0 justify-content-between align-items-center p-4 w-100">
            <div>
               <h4>{{jobData.company}}</h4>
               <p class="text-muted opacity-75">{{jobData.company}}.com</p>
            </div>
            <div>
           <button class="btn btn-violetlight p-3 rounded-3 btn-gray">Company Site</button>
            </div>
           </div>
         </div>
</div>
</div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-6 col-10">
<div class="container bg-white p-5 pt-0 rounded-3 box mb-6 job-details" style="margin-top:7rem;">
     <div class="row mt-5 pt-5">
            <div class=" d-flex gap-3">
                <p class="text-muted opacity-75">{{jobData.postedAt}}</p>
                <p class="text-muted opacity-75">{{jobData.contract}}</p>
           </div>
           <div class="row d-flex justify-content-between gap-4 align-items-center">
            <div class="col d-flex flex-column">
               <h4 class="fw-bold fs-2">{{jobData.position}}</h4>
                <p class="text-violet">{{jobData.location}}</p>
            </div>
            <div class="col-12 col-md-4 d-flex align-self-start justify-content-center">
              <div class="col-12">
            <a href="/apply-now/{{jobData.id}}" class="col-12 col-lg-10 btn text-white btn-violet rounded-2 px-3 py-2">Apply Now</a>
            </div>
            </div>
           </div>
           <div class="text-muted opacity-75 py-5">
            {{jobData.description}}
           </div>
           <div>
             <h4 class="fw-bold py-3">Requirements</h4>
             <p class="text-muted opacity-75">{{jobData.requirements.content}}</p>
             <ul class="text-muted opacity-75">
                {{#each jobData.requirements.items}}
                <li class="py-2">{{this}}</li>
                {{/each}}
             </ul>
           </div>
           <div>
            <h4 class="fw-bold py-3">What You Will Do</h4>
            <p class="text-muted opacity-75">{{jobData.role.content}}</p>
            <ol>
                {{#each jobData.role.items}}
                <li class="py-2 text-muted opacity-">{{this}}</li>
                {{/each}}
            </ul>
           </div>
         </div>
    </div>
    </div>
    </div>

    <div class="container-fluid bg-white p-4 mt-5 box justify-content-center d-flex">
      <div class="col-md-10 col-12 col-lg-6">
      <div class="row d-flex justify-content-between">
        <div class="col-md-6 d-none d-md-block">
          <h4 class="fs-4">{{jobData.position}}</h4>
          <p class="text-muted opacity-75">{{jobData.company}}</p>
        </div>
        <div class=" col-12 col-md-6 d-flex align-items-center justify-content-md-end justify-content-center">
          <div class="col-12 col-md-6">
            <a href="/apply-now/{{jobData.id}}" class="w-100 btn text-white btn-violet rounded-2 px-3 py-2">Apply Now</a>
            </div>
        </div>
      </div>
      </div>
    </div>
</div>